/*
  Standard mail.app sidebar colors:
  #dde4eb - light blue background
  #a1afce - border-top of selected item (which turns to white text with 1px vertical shadow)
  #b0bedb - top value of gradient
  #8194bc - bottom value of gradient
*/

body {
  background-color: #dde4eb;
}

h3 {
  border-top: 1px solid #a1afce;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b0bedb), to(#8194bc));
}

h3 a {
  text-shadow: 0px 1px 2px #727272;
}

.accordion li {
	border-top: 1px solid #6d95e0;
	border-bottom: 1px solid #6d95e0;
	border-right: 1px solid #6d95e0;
	color: #6d95e0;
}

.accordion li a {
	color: #6d95e0;
}

.accordion li:first-of-type {
	-webkit-border-radius:10px 0 0 10px;
	border: 1px solid #6d95e0;
}
.accordion li {
  background-color: #bbcef1;
}